:root {
  --color-gray-1: #eeeeee;

  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-32: 32px;

  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
  background-color: var(--color-neutral-background-default);
  color: var(--color-neutral-text-default);
}
