@import "reset.css";
@import "core.css";
@import "colors.css";
@import "theme.css";
@import "utils/label.css";
@import "utils/icons.css";
@import "../../admin/views/navigation/navigation.css";
@import "../../admin/views/header/header.css";
@import "../../admin/views/component-view/component-view.css";
@import "../../admin/tools/part-finder/part-finder.css";

a[href]:not([class]) {
  color: var(--color-accent-base-default);
}

a:not([href]) {
  color: var(--color-white-12);
}
