.navigation {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  padding-right: var(--spacing-32);

  nav {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-32);
  }

  a {
    padding: var(--spacing-8) var(--spacing-16);
  }

  a[href] {
    text-decoration: none;
    color: currentColor;

    &[aria-current] {
      color: var(--color-neutral-background-default);
      background-color: var(--color-neutral-contrast-default);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .component-link {
    padding-block: var(--spacing-8);
  }
}



