table.table {
  border-collapse: collapse;
  border: 1px solid var(--color-black-contrast-2);
  width: 100%;

  caption {
    text-align: left;
  }

  th,
  td {
    text-align: left;
    border: 1px solid var(--color-black-contrast-2);
    padding: var(--spacing-8) var(--spacing-16);

    &:first-child {
      min-width: 160px;
    }
  }
}

.part-selectall-col {
  position: relative;
  min-width: 117px;
}
.part-selectall-check {
  position:absolute;
  bottom:12px;
}

.part-selectall-label {
  cursor:pointer;
  font-weight:normal;
  margin-left:22px;
}
.part-select-check {
  cursor:pointer;
  height:15px;
  width:15px;
}
.part-select-label {
  cursor:pointer;
  font-weight:normal;
  display: inline-block;
  height: 18px;
  width: 100%;
  background-color: transparent;
  margin-left: -30px;
}

.new-part-label {
  margin: 40px 0 10px;
  display: block;
}
.new-part-textfield {
  display: block;
  padding:10px 15px;
  width:400px;
  max-width:100%;
}
.new-part-button {
  padding:7px 20px;
  background-color:#0b3c49;
  color:white;
  font-weight:bold;
  border:0;
  cursor:pointer;
  margin-top: 15px;
}
.new-part-button:not(:disabled):hover {
  background-color: red;
  cursor: pointer;
}
.new-part-button:disabled {
  border: 1px solid var(--color-petroleum-contrast-2);
  color: var(--color-petroleum-contrast-2);
  background-color: transparent;
  cursor: initial;
}
.inline-pre pre {
  display: inline-block;
  background-color: #e8e8e8;
  padding: 2px 5px;
  margin: 0 3px;
}

#btn-info {
  display: none;
}
.okay-check {
  color: green;
  font-weight: bold;
}
