table.table {
  border-collapse: collapse;
  border: 1px solid var(--color-gray-1);
  width: 100%;

  caption {
    text-align: left;
    margin-bottom: var(--spacing-32);
    font-size: var(--font-size-large);
  }

  th,
  td {
    text-align: left;
    border: 1px solid var(--color-gray-1);
    padding: var(--spacing-16);

    &:first-child {
      min-width: 160px;
    }
  }
}
